[alias]
  br = branch
  brd = branch -d
  brD = branch -D
  ciaa = commit --verbose -a --amend
  cia = commit --verbose -a
  ci = commit --verbose
  co = checkout
  cob = checkout -b
  com = checkout main
  cp = cherry-pick
  df = diff
  dfm = diff main
  dfu = diff --name-only --diff-filter=U --relative
  l = log
  lp = log -p
  pl = pull --rebase
  ps = push
  psu = push -u origin
  psf = push --force-with-lease
  rba = rebase --abort
  rbm = rebase main
  rbc = rebase --continue
  rhh = reset --hard HEAD
  st = status

[user]
  name = Patrick
  email = patrick@patrickomatic.com
