[core]
	editor = vim
	excludesfile = /home/patrick/.gitignore_global

[color]
	diff = auto
	branch = auto
	status = auto

[diff]
	renames = true

[alias]
	st = status
	co = checkout
	ci = commit -v
	br = branch
	df = diff
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit 
	cp = cherry-pick
	ps = push
	pl = pull --rebase

[user]
	name = Patrick Carroll
	email = patrick@patrickomatic.com
